<header class="header">
        <div class="navbar">
            <div class="box1">
                <div class="imagebox">
                    <%= image_tag image_url('hamburguer.svg')%>
                </div>
            </div>
            <div class="profilebox">
                <%= image_tag 'admin_profile.png', class:"profile"%>
                <%= image_tag 'vector 1.svg',class:"vec" %>
            </div>
        </div>
    </header>
  <div>
    <%= link_to "Timer", root_path,class: "mr-2" %>
    <%= link_to 'Create Employee', employee_create_path %>
  </div>
  <table>
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>P. Number</th>
        <th>Store</th>
        <th>Edit</th>
    </thead>
    <tbody>
      <% @employees.each do |e| %>
        <tr>
          <td><%=link_to e.name, dashboard_path(e) %></td>
          <td> <%= e.email %></td>
          <td><%= e.position %></td>
          <td>  <%= e.private_number %></td>
          <td> <%= e.store_id %></td>
          <td> <%= link_to 'Edit', edit_dashboard_path(e) %></td>
          <td> <%= e.id %></td>
        <tr>
      <% end %>
    </tbody>
  </th>
</table>