<%= render 'navbar' %>

<div class="content-dashboard">
  <h2 class="pt-2 pb-1">Dashboard</h2>

  <div class="cards-report">
    <div class="cards-report__attended-by-day card-report-style d-flex fd-column justify-space-between ">
      <div class="cards-report__attended-by-day--title ">Attended by day</div>
      <%= form_with(url: dashboard_index_path, method: :get) do |form|  %>
        <%= form.date_field :date_day, class:"input-simple", data: {action: "input=>search-form#search"}  %>
        <%= form.submit %> 
      <% end  %>
      <div class="cards-report__attended-by-day--num-day">
       <% if @attendances_day %>   
         <%= @attendances_day.count %>
       <% else %>
         0
       <% end %>
        
      </div>
      <div class="cards-report__attended-by-day--style active ">4 Active employees</div>
    </div>
    <div class="cards-report__average-by-month card-report-style d-flex fd-column justify-space-between">
     <div class="cards-report__attended-by-day--title ">Absence by day</div>
      <div class="cards-report__attended-by-day--num-day ">24</div>
      <div class="cards-report__attended-by-day--style absent">4 Absent employees</div>
    </div>
    <div class="cards-report__absence-by-month card-report-style d-flex fd-column justify-space-between">
     <div class="cards-report__attended-by-day--title ">Attended by day</div>
      <div class="cards-report__attended-by-day--num-day ">24</div>
      <div class="cards-report__attended-by-day--style darys">Darys worked / Month days</div>
    </div>
  </div>

  <div class="all-employee">
    <h2 class="all-employee__title">All employees</h2>

    <div class="constrain mb-1">
     <%= render "dashboard/search_form" %>
    </div>
    <div id="search_results"></div>
 
    </div>

    <table class="all-employee__table">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>P. Number</th>
        <th>Store</th>
        <th colspan="2">Options</th>
      </thead>
      <tbody>
        <% @employees.each do |e| %>
          <tr class="mt-1">
            <td>
              <%= e.id %>
            </td>
            <td class="d-flex">
              <img src=<%= e.avatar.url(:width=>32, :crop=>"fill") %> class="image-profile mr-1">
              <%=link_to e.name.split.map(&:capitalize).join(" "), dashboard_path(e) %>
            </td>
            <td><%= e.email %></td>
            <td><%= e.position %></td>
            <td><%= e.private_number %></td>
            <td><%= e.store.name %></td>
            <td><%= link_to 'Edit', edit_dashboard_path(e), class:"link-edit" %></td>
            <td>
              <% if e.operative %>
                <%= button_to 'Deactive', dashboard_delete_path(e), method: :delete,  class: "btn-danger cursor-pointer" %>
              <% else %>
                <%= button_to 'Active', dashboard_delete_path(e), method: :delete, class: "btn-success cursor-pointer" %>
              <% end %>
           </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="d-flex fd-row justify-space-between mx-auto mt-2">
        <%= paginate @employees %>
      </div>
      
      <%= Time.zone.now %>