<%= render 'navbar' %>
<div class="container-d">
    <div class="container-d__numberd">
      <%= button_to image_tag('clock.svg'), root_path, method: :get,class:"clock"%>
    </div>
    <div class="container-d__numberd">
      <span class="number-clock-d" id="hour"></span>
    </div>
    
    <span class="number-colon-d">:</span>
    <div class="container-d__numberd">
      <span class="number-clock-d" id="minutes"></span>
    </div>
    <span class="number-colon-d">:</span>
    <div class="container-d__numberd">

      <span class="number-clock-d" id="seconds"></span>    
    </div>
    <div class="container-d__numberd">
      <div class="number-date-d">
        <%= Time.now.strftime("%Y/%m/%d")%>
      </div>    
    </div>
    
  </div>

<div class="content-dashboard">
  <p class="mb-2 title-dashboard">Dashboard</p>
  <p class="mb-2 title-reports-general"> Reports general </p>
  <div class="cards-report">
    <div class="cards-report__attended-by-day card-report-style d-flex fd-column justify-space-between ">
      <div class="d-flex">
        <div class="cards-report__attended-by-day--title ">Attendances by day :</div>
        <%= form_with url: dashboard_root_path, method: :get, data: {controller: "debounce", debounce_target: "form" } do |form|  %>
          <%= form.date_field :date_day, class:"input-simple-reports", data: { action: "input->debounce#search" }  %>
        <% end  %>
      </div>
      <div class="cards-report__attended-by-day--num-day">
       <% if @attendances_day %>   
         <%= @attendances_day %>
       <% else %>
         0
       <% end %>
        
      </div>
      <div class="cards-report__attended-by-day--style active ">Attendances</div>
    </div>
    <div class="cards-report__average-by-month card-report-style d-flex fd-column justify-space-between">
    <div class="d-flex">
     <div class="cards-report__attended-by-day--title ">Absences by month :</div>
        <%= form_with url: dashboard_root_path, method: :get, data: {controller: "debounce", debounce_target: "form" } do |form|  %>
          <%= form.month_field :absence_month, class:"input-simple-reports", data: { action: "input->debounce#search" }  %>
        <% end  %>
    </div>
      <div class="cards-report__attended-by-day--num-day ">
      <% if @absence_by_month  %>
        <%= @absence_by_month %>
      <% else %>
        0
      <% end %>
      </div>
      <div class="cards-report__attended-by-day--style absent">Absences</div>
    </div>
    <div class="cards-report__absence-by-month card-report-style d-flex fd-column justify-space-between">
      <div class="d-flex">
     <div class="cards-report__attended-by-day--title ">Avg. attendances by month :</div>
     <%= form_with url: dashboard_root_path, method: :get, data: {controller: "debounce", debounce_target: "form" } do |form|  %>
          <%= form.month_field :avg_month, class:"input-simple-reports", data: { action: "input->debounce#search" }  %>
        <% end  %>
        </div>
      <div class="cards-report__attended-by-day--num-day ">24</div>
      <div class="cards-report__attended-by-day--style darys">Days worked / Month days</div>
    </div>
  </div>

  <div class="all-employee">
    <h2 class="all-employee__title">All employees</h2>

    <div class="constrain mb-1">
     <%= render "dashboard/search_form" %>
    </div>
    <div id="search_results"></div>
 
    </div>

      
    <table class="all-employee__table">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>P. Number</th>
        <th>Store</th>
        <th colspan="2">Options</th>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
          <tr class="mt-1">
            <td>
              <%= employee.id %>
            </td>
            <td class="d-flex">
              <img src=<%= employee.avatar.url(:width=>32, :crop=>"fill") %> class="image-profile mr-1">
              <%=link_to employee.name.split.map(&:capitalize).join(" "), dashboard_employee_path(employee) %>
            </td>
            <td><%= employee.email %></td>
            <td><%= employee.position %></td>
            <td><%= employee.private_number %></td>
            
            <td><%= employee.store.name %></td>
            <td><%= link_to 'Edit', edit_dashboard_employee_path(employee), class:"link-edit" %></td>
            <td>
              <% if employee.operative %>
                <%= button_to 'Deactive', employee_path(employee), method: :delete,  class: "btn-danger cursor-pointer" %>
              <% else %>
                <%= button_to 'Active', employee_path(employee), method: :delete, class: "btn-success cursor-pointer" %>
              <% end %>
           </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <div class="d-flex fd-row justify-space-between mx-auto mt-2">
        <%= paginate @employees %>
      </div>
      <%= image_tag("Footer.png", :alt => "Braightcoders", class:"footer") %>
      </div>