<header class="header">
  <nav class="nav-main">
            <!--boton-->
            <input type="checkbox" class="nav-main__btn-collapse" id="nav-main__checkbox" />
            <label for="nav-main__checkbox" class="nav-main__btn-collapse-icon">
                <span class="icon-nav"></span>
                <span class="icon-nav"></span>
                <span class="icon-nav"></span>
            </label>
            
            <!--menu-->
            <div class="nav-main__btn-collapse-bg"></div>
            <div class="nav-main__menu">
              <a href="" class="link-item">
                <%= button_to image_tag('TIMER.svg'), root_path, method: :get,class:"button-styles"%>
              </a>
              <a href="" class="link-item">
                <p class="main_menu">Main Menu</p>
              </a>
              <a href="" class="link-item">
                <%= image_tag 'dashboard.svg' %> Dashboard
              </a>
              <a href="" class="link-item">
                <%= button_to image_tag('employee.svg')+ "New_Employee", employee_create_path, method: :get,class:"button-styles"%>
              </a>
              <a href="" class="link-item">
                <%= button_to image_tag('department.svg')+ "Stores", stores_path, method: :get,class:"button-styles"%>
              </a>
              <a href="" class="link-item">
                <%= button_to image_tag('log_out.svg')+ "Log out", destroy_admin_session_path, method: :delete,class:"button-styles"%>
              </a>
            </div>
            <!--foto de perfil-->
            <div class="profilebox">
              <a href="" class="profilebox__link-item">
                <%= image_tag 'admin_profile.png', class:"profile"%>
              </a>
            </div>
  </nav>
</header>
<div class="px-1">
  <div class="all-employee">
    <h2 class="all-employee__title">All employees</h2>
    <div class="constrain mb-1">
      <input class="input-simple" type="text" placeholder="Search employee">
    </div>
    <table class="all-employee__table">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>P. Number</th>
        <th>Store</th>
        <th>Edit</th>
      </thead>
      <tbody>
        <% @employees.each do |e| %>
          <tr class="mt-1">
            <td>
              <%= e.id %>
            </td>
            <td class="d-flex">
              <img src=<%= e.avatar.url(:width=>32, :crop=>"fill") %> class="image-profile mr-1">
              <%=link_to e.name.split.map(&:capitalize).join(" "), dashboard_path(e) %>
            </td>
            <td><%= e.email %></td>
            <td><%= e.position %></td>
            <td><%= e.private_number %></td>
            <td><%= e.store_id %></td>
            <td><%= link_to 'Edit', edit_dashboard_path(e) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="pagination d-flex fd-row justify-space-between mx-auto mt-2">
        <div class="pagination__previus-page">
          <p>previus page</p>
        </div>
        <div class="pagination__nums d-flex justify-center">
          <div>
            <p>1</p>
          </div>
          <div>
            <p>2</p>
          </div>
          <div>
            <p>3</p>
          </div>
          <div>
            <p>4</p>
          </div>
          <div>
            <p>5</p>
          </div>
          <div>
            <p>6</p>
          </div>
          <div>
            <p>7</p>
          </div>
        </div>
        <div class="pagination__next-page">
          <p>next page</p>
        </div>
      </div>
    </div>
