<p>Name: <%= @employee.name %></p>
<p>Email: <%= @employee.email %></p>
<p>Position:<%= @employee.position %></p>
<p>P. Number: <%= @employee.private_number %></p>
<p>Store: <%= @employee.store_id %></p>
